<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>To Do List</title>
    <style>
        *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

    body{
        background-color : gainsboro;
        font-family: "Lucida Handwriting",Cursive;
    }
    #container {
        width: 100vw;
        height: 9vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #card {
        width: 100vw;
        height: 9vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #task{
        border-radius: 100px;
    }
    #tasks {
        height: 9vh;
        font-size: 20px;
        padding: 12px 20px;
        margin: 1px 0;
        box-sizing: border-box;
    }
    .button a{
        background-color: rgb(224, 100, 100);
        padding: 0.3em;
        border-radius: 100px;
        font-size: 1.2rem;
        color: black;

    }
    #taskReference {
        height: 9vh;
        background-color: ghostwhite;
        list-style: none;
        font-size: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 12px 20px;
        margin-top: 0.4em;
        margin-bottom: 0.8em;
    }

    #addButton {
        background-color: #4CAF50; /* Green */
        border: none;
        position: absolute;
        border-radius: 100px;

        left:68%;
        width:100px;
        height:35px;
        color: white;
        padding: 7px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    #taskdelete {
        background-color: green;

    }


    a:link {
        color: whitesmoke;
        text-decoration: none;
    }
    a:visited {
        color: whitesmoke;
        text-decoration: none;
    }


    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 1px 0;
        box-sizing: border-box;
    }

    </style>
</head>
<body>
     <% if (taskDelete != null) { %>
        <section id="modal" style="background-color: ghostwhite;font-size: 20px;border: 2px solid darkslategrey;display: inline-block;text-align: center;width: 100vw;">
             </div >
                <div id="card">
                    <a href="/"></a>
                    <h2 style="font-family: Cursive" >Confirmação</h2>
                </div>
                <p style="font-family: Cursive;">
                   Deseja realmente apagar essa tarefa: "<%= taskDelete.task %>"?
                   <b style="font-family: Cursive">a ação não poderá ser desfeita </b>
                </p>
                <a href="/" style="font-family: Cursive;background-color: red;border: 2px solid darkslategrey">Cancelar</a>
                <a href="/deleteOne/<%= taskDelete._id %>" style="font-family: Cursive;background-color: green;border: 2px solid darkslategrey">Confirmar</a>
            </div>
        </section>
        <% } %>
   <div id = "container">
    <% if (task == null) { %>
           <form action="/create" method="post">
               <input type="text" name="task" id="task" placeholder="Insira uma tarefa">
               <button id="addButton" type="submit">Adicionar</button>
           </form>
           <% } else { %>
           <form action="/updateOne/<%= task._id %>" method="post">
               <input type="text" name="task" id="task" value="<%= task.task %>">
               <button id="addButton" type="submit">Atualizar</button>
           </form>
           <% } %>
   </div>

    <section id="tasks">
        <ul>
            <% tasksList.forEach((task)=>{ %>

                <li id = "taskReference">
                    <div id= "taskDate">
                        <%= task.task %> | <%= task.date.toLocaleDateString('pt-BR') %> |
                        <input type="checkbox" id="con" name="con" value="concluido">                        
                    </div>
                    <div class="button">
                        <a href="/getById/<%= task._id %>/delete">Apagar</a>
                        <a href="/getById/<%= task._id %>/update" style="background-color: blue;" >Editar</a>
                    </div>
                </li>
            <% }) %>
        </ul>

    </section>



</body>
</html>